* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 82%;
  margin: auto;
}
li {
  list-style: none;
}
.text-center {
  text-align: center !important;
}
.d-flex {
  display: flex;
}
.s-around {
  justify-content: space-around;
}
.m-auto {
  margin: auto;
}
.t-l-50 {
  top: 50%;
  left: 50%;
}
.t-l-0 {
  top: 0;
  left: 0;
}
.t-p-0{
  top: 0;
  left: 0;
}
.transform-center {
  transform: translate(-50%, -50%);
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.w-16{
  width: 16.66%;
}
.d-flex{
  display: flex;
}
.main-color{
  color: #00bcd4
}
.back-color-white{
  background-color: white;
}
.s-between{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
.color-white{
  color: white;
}
.text-right{
  text-align: right;
}

.transition-3s{
  transition: all .3s linear;
}
.list-s-none{
  list-style: none;
}
.t-l-50{
  top: 50%;
  left: 50%;
}
header {
  background-color: #00bcd4;
}
header nav ul {
  flex-wrap: wrap;
}
header nav li {
  width: calc(100% / 6);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s linear;
}
a {
  text-decoration: none;
  color: white;
}
header nav li:hover {
  background-color: white;
  color: #00bcd4;
}
header nav li:hover a {
  color: #00bcd4;
}
.topS {
  margin-top: 10px;
  z-index: 2;
}
.background-topS {
  width: 100%;
  height: 70vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

#servicePage .background-topS {
  background-image: url("../images/servicesBackground.jpg");
}

#aboutPage .background-topS {
  background-image: url("../images/aboutBackground.jpg");
  background-position: bottom;
}

#contactPage .background-topS {
  background-image: url("../images/contact_background.jpg");
}

#productPage .background-topS {
  background-image: url("../images/project_background.jpg");
}


.menuIcon {
  width: 70px;
  height: 70px;
  top: 80px;
  left: 25px;
  background-color: #00bcd4;
  border-radius: 50%;
  position: fixed;
  font-size: 2em;
  box-shadow: black 1px 2px 1px 0;
  z-index: 5;
}

.middle {
  z-index: 5;
}
.middle h1 {
  font-size: 4em;
  margin-bottom: 20px;
}
.middle a {
  padding: 3px 15px;
  font-size: 1.3em;
  font-weight: bold;
}
.sub1 {
  border-right: 2px solid white;
  transition: all 0.3s linear;
}
.sub2 {
  color: #00bcd4;
}
.layout {
  width: 100%;
  height: 100%;
  background-color: #0075d42d;
  top: 0;
  left: 0;
  z-index: 3;
}
.sub1:hover {
  color: #00bcd4;
  border-right: 2px solid #00bcd4;
}
.services-content {
  margin-top: 60px;
  border-bottom: 1px solid #00bcd4;
  padding-bottom: 120px;
}
#about-content h1 {
  margin-bottom: 15px;
  line-height: 1.5em;
}
#about-content h4 {
  font-size: 17px;
  color: grey;
}
#about-content .content-text {
  padding-top: 10;
  padding-left: 0;
}
.m-v {
  margin-top: 40px;
  margin-bottom: 70px;
}
.m-v .mission {
  width: 50%;
  height: 75vh;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s linear;
  border-bottom: 3px solid rgba(211, 211, 211, 0.514);
}
.m-v .mission:hover {
  box-shadow: rgb(170, 170, 170) 0 1px 4px 0;
}
.mission img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border: 1px solid black;
}
.mission-text {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
.mission-text p {
  line-height: 1.3em;
  margin-top: 15px;
  font-size: 18px;
  padding-bottom: 15px;
  color: grey;
}
.left-final {
  width: 48%;
  height: 70vh;
  background-image: url(../images/_20190122_055643about3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.right-final {
  width: 52%;
  height: 70vh;
  background-image: url(../images/bg_blue.jpg);
}
.right-final .con-text {
  width: 80%;
  height: 50%;
  margin: auto;
}
.right-final .con-text p {
  font-size: 22px;
  line-height: 1.5em;
  font-weight: bold;
}
.right-final .contact {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.right-final a {
  font-size: 22px;
  font-weight: bold;
  padding: 3px 10px;
  transition: all 0.3s linear;
}
.right-final a:hover {
  color: rgb(24, 23, 23);
}
.right-final #firstA {
  border-right: 3px solid white;
}
.right-final #firstA:hover {
  border-right: 3px solid rgb(24, 23, 23);
}
.content-text {
  width: 50%;
}

.imgWrapper {
  height: 75vh;
  width: 50%!important;
  overflow: hidden;
}

.services-content img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover;
  transition: all 0.3s linear;
}
.services-content img:hover {
  transform: scale(1.05);
}
.content-text {
  padding-left: 60px;
  padding-top: 50px;
  font-size: 15px;
  line-height: 1.6em;
  font-family: Regular-az, sans-serif;
}
.text2 {
  padding-top: 15px;
}
.text2 span {
  color: #00bcd4;
  font-weight: bold;
}
#second {
  border: none;
}
footer ul li a {
  color: black !important;
}
.footer-back {
  width: 100%;
  height: 48vh;
  background-image: url("../images/partialfooter_background.jpg");
  background-repeat: no-repeat;
  z-index: 3;
}
.footer-back .container {
  width: 62%;
  z-index: 10;
}
.footer-layout {
  width: 100%;
  height: 48vh;
  top: 0;
  left: 0;
  background-color: rgba(27, 25, 34, 0.94);
  z-index: 4;
}
.social-network {
  width: 100px;
  font-size: 1.2em;
  top: 50%;
  left: 0;
  padding-top: 7px;
  transform: translateY(-50%);
  color: gray;
}
.social-network i {
  margin-right: 5px;
  transition: all 0.3s linear;
}
.social-network i:hover {
  color: #00bcd4;
  transform: scale(1.1);
}
.subMenu {
  width: 80%;
  margin-left: auto;
}
.subMenu nav {
  padding: 15px;
}
.subMenu a {
  font-size: 20px;
  color: gray !important;
  padding-left: 5px;
  transition: all 0.25s ease-in;
}
.subMenu a:hover {
  margin-left: 8px !important;
}
.subMenu i {
  color: #31aae2;
}
.subMenu li {
  padding-bottom: 5px;
}
.copyRightP {
  margin-top: 20px;
  font-size: 19px;
  color: gray;
  text-align: center;
}
.messageIcon {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #00bcd4;
  font-size: 2rem;
  transition: all 0.3s linear;
  z-index: 50;
}

footer nav {
  width: 50%;
}

.messageIcon:hover {
  transform: scale(1.3);
}

.googleMap{
  margin-bottom: 40px;
}
.background{
  height: 70vh;
  background: url("../images/project_background.jpg");  
  background-size: cover;  
  background-repeat: no-repeat;
  z-index: 3;
}
.layout{
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  background-color: #007fd438;
  z-index: 4;
  
}
.navBar{
  background-color: #00bcd4;
  font-family: 'Roboto', sans-serif;
}
.mainMenu{
  font-size: 13px;
}
.mainMenu li{
  padding: 20px 0 10px 0;
}
.mainMenu li:hover{
  background-color: white;
  color: #00bcd4;
}
.lift ul{
  top: 100%;
  left: 0;
}
hr{
  width: 60%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #00bcd4;
}
.lift ul li{
  padding: 8px 3px 8px 10px;
}    
.subLift{
  width: 100%;
  font-size: 13px;
  display: none;
  box-shadow: rgb(14, 13, 13) 2px 2px 0 0;
  border-bottom: 2px solid #00bcd4;
}
.mainMenu li:hover .subLift{
  display: block;
  background-color: white;
  color: #00bcd4;
}
.passenger:hover{
  background-color: #00bcd4 !important;
  color: white !important;
  padding-right: 10px;
}
.medical:hover{
  background-color: #00bcd4 !important;
  color: white !important;
  padding-right: 10px;
}
.freight:hover{
  background-color: #00bcd4 !important;
  color: white !important;
  padding-right: 10px;
}
.subPassenger{
  width: 80%;
  margin-right: 5px;
  top: 0 !important;
  left: 100% !important;
  display: none;
  border: 1px solid #00bcd4;
}
.subPassenger li{
  transition: all .3s linear;
}
.passenger:hover .subPassenger{
  display: block;
}
.subPassenger li:hover{
  background-color: #00bcd4;
  color: white;
  padding-right: 15px;
}
.subMedical{
  width: 70%;
  margin-right: 5px;
  top: 0 !important;
  left: 100% !important;
  display: none;
  border: 1px solid #00bcd4;
}
.medical:hover .subMedical{
  display: block;
}
.subMedical li{
  transition: all .3s linear
}
.subMedical li:hover{
  background-color: #00bcd4;
  color: white;
  padding-right: 15px;
}
.subFreight{
  width: 60%;
  margin-right: 5px;
  top: 0 !important;
  left: 100% !important;
  display: none;
  border: 1px solid #00bcd4;
}
.freight:hover .subFreight{
  display: block;
}
.subFreight li{
  transition: all .3s linear
}
.subFreight li:hover{
  background-color: #00bcd4;
  color: white;
  padding-right: 15px;
}

.eskalator ul li{
  padding: 8px 3px 8px 10px;
}

.eskalator:hover .subEskalator{
  display: block;
}
.subEskalator li{
  transition: all .3s linear
}
.subEskalator li:hover{
  background-color: #00bcd4;
  color: white;
  padding-right: 15px;
}

.autoDoor ul li{
  padding: 8px 3px 8px 10px;
}
.autoDoor:hover .subAutoDoor{
  display: block;
}
.subAutoDoor li{
  transition: all .3s linear;
}
.subAutoDoor li:hover{
  background-color:#00bcd4;
  color: white;
  padding-right: 15px;
}
.security ul li{
  padding: 8px 2px 8px 2px ;
}
.security ul{
  z-index: 60;
}
.security{
  font-size: 12px;
}

.security:hover .subSecurity{
  display: block;
}
.subSecurity li{
  transition: all .3s linear;
}
.subSecurity li:hover{
  background-color:#00bcd4;
  color: white;
  padding-right: 15px;
}
.sameSub{
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  background-color: white;
  box-shadow: rgb(14, 13, 13) 2px 2px 0 0;
  border-bottom: 2px solid #00bcd4;
  padding-right: 5px;
  font-size: 13px;
}
.spareParts ul{
  z-index: 50;
}
.spareParts ul li{
  padding: 8px 2px 8px 2px ;

}
.spareParts:hover .subSpare{
  display: block;
}
.subSpare li{
  transition: all .3s linear;
}
.subSpare li:hover{
  background-color: #00bcd4;
  color: white;
  padding-right: 15px;
}
.products{
  margin-top: 50px;
  
}
.top h1{
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}
.search{
  width: 27%;
  z-index: 10;
}
.search input{
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-bottom: 1px solid silver;
  border-radius: 8px;
}
.search i{
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.pictures{
  margin-top: 30px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.box{
  width: 23%;
  height: 350px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px 15px;
  font-size: 14px;
  transition: all .3s linear;
}
.box img{
  width: 100%;
  height: 80%;
  margin: auto;
  object-fit: cover;
  margin-bottom: 10px;
  transition: all .3s linear;
}
.box p{
  margin-bottom: 8px;
}
.box:hover{
  border: 1px solid #00bcd4;
  box-shadow: rgba(0, 0, 0, 0.781) 0 2px 1px 0;
}
.box:hover img{
  transform: scale(1.05);
}
.communication{
  margin-top: 70px;
  margin-bottom: 50px;
}
.communication .tools{
  width: 31%;
  height: 58vh;
  border: 1px solid silver;
  border-radius: 5px;
  transition: all .3s linear;
}
.communication .email-Icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0094ff;
  margin: 15px 50px 5px 15px;
}
.communication .email-Icon i{
  font-size: 1.8em;
  color: white;
}
.communication .tools h3{
  margin-top: 30px;
  padding-right: 10px;
}
.communication .tools p{
  padding: 15px;
  padding-bottom: 50px;
  color: gray;
  line-height: 1.4em;
}
.phone-num .email-Icon{
  background-color: #08c796;
}
.phone-num p{
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 10px !important;
}
.phone-num .info{
  font-size: 1em;
  font-weight: normal;
}
.work-hours .email-Icon{
  background-color: #Ce4a53;
}
.tools:hover{
  background-color: #0094ff;
  color: white;
}
.tools:hover .email-Icon{
  background-color:white;
  color: white;
}
.tools:hover .email-Icon i{
  color: #0094ff;
}
.tools:hover p{
  color: white;
}
.blueSide {
  height: 175px;
  background-image: url("../images/bg_blue.jpg");
}
.blueSide .container{
  transform: translateY(50px);
  color: white;
}
.blueSide .container div h1{
  padding-bottom: 10px;
}
.blueSide button{
  width: 20%;
  height: 45px;
  color: #00bcd4;
  font-weight: bold;
  transition: all .3s linear;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
}
.blueSide button:hover{
  background-color: #292147;
  color: white;
}
.messageForm{
  width: 61%;
  height: 95vh;
  margin: auto;
  border: 1px solid silver;
  transform: translateY(70px);
  background-color: white;
}
.message-container{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: gray;
}
.messageForm .firstP{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 18px;  
}
.messageForm .secondP{
  font-size: 17px;  
  padding-bottom: 18px;  
}
.message-container .social-media-insideM i{
  font-size: 2em;
   color: #0094ff;
   margin-right: 25px;
   margin-top: 15px;
   transition: all .3s linear;
}
.message-container .message-inputs{
  margin-top: 40px;
}
.message-container .message-inputs input{
  width: 48%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0.616);
  border-radius: 5px;
}
.message-container textarea{
  width: 100%;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0.616);
  border-radius: 5px;
  padding: 10px;
}
.message-container button{
  padding: 10px 50px;
  margin-top: 25px;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  font-size: 18px;
  color: white;
  transition: all .3s linear;
}
.message-container button:hover{
  background-color: #138496;
  border: 1px solid #138496;
}
.social-media-insideM i:hover{
  transform: scale(1.2);
}

@media only screen and (max-width: 1327px) {
  .lift{
      width: 15%;
  }
  .subPassenger{
      width: 90%;
  }
  .subFreight{
      width: 80%;
  }
  .subMedical{
      width: 80%;
  }
  .security{
      width: 18.32%;
  }
}
@media only screen and (max-width: 1055px) {
  .mainMenu{
      flex-wrap: wrap;
  }
  .lift{
      width: 33%;
  }
  .subPassenger{
      z-index: 80;
  }
  .subMedical{
      z-index: 80;
  }
  .eskalator{
      width: 33%;
      z-index: 70;
  }
  .autoDoor{
      width: 33%;
      z-index: 70;
  }
  .autoPark{
      width: 33%;
  }
  .security{
      width: 33%;
  }
  .spareParts{
      width: 33%;
  }
  .messageIcon{
      top: 50px;
      right: 60px;
      color: green;
      z-index: 90;
  }
}
@media only screen and (max-width: 940px) {
  .box{
      width: 31%;
  }
}
@media only screen and (max-width: 730px) {
  .box{
      width: 47%;
  }
}
@media only screen and (max-width: 490px) {
  .box{
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1590px) {
  .services-content img {
    width: 50%;
    height: 70vh;
  }
}
@media only screen and (max-width: 1420px) {
  .services-content img {
    width: 55%;
    /* height: 70vh; */
  }
}
@media only screen and (max-width: 1310px) {
  .services-content img {
    width: 50%;
    height: 60vh;
  }
}
@media only screen and (max-width: 1230px) {
  .services-content img {
    width: 55%;
    height: 65vh;
  }
}
@media only screen and (max-width: 1060px) {
  .services-content img {
    width: 50%;
    height: 50vh;
  }
}
@media only screen and (max-width: 990px) {
  .services-content img {
    width: 50%;
    height: 45vh;
  }
}
@media only screen and (max-width: 920px) {
  header nav li {
    width: 33.33%;
  }
  .middle h1 {
    font-size: 3em;
  }
  .middle a {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 880px) {
  .services-content img {
    width: 50%;
    height: 40vh;
  }
}
@media only screen and (max-width: 773px) {
  .footer-back .container {
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .services-content img {
    width: 100%;
    height: 65vh;
  }
  .services-content .container {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .middle h1 {
    font-size: 2.3em;
  }
  .middle a {
    font-size: 0.95em;
  }
  .services-content img {
    width: 100%;
    height: 55vh;
  }
  .footer-back .subMenu a {
    font-size: 17px;
  }
  .content-text {
    padding-left: 10px;
  }
  .footer-back .subMenu a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 553px) {
  .footer-back .social-network {
    position: unset;
    margin: auto;
  }
  .footer-back .subMenu {
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  header nav li {
    width: 34%;
  }
}
/* for about page */
@media only screen and (max-width: 1300px) {
  header nav ul li {
    text-align: center;
  }
  .mission img {
    width: 100%;
    height: 55%;
  }
}
@media only screen and (max-width: 1010px) {
  .mission img {
    width: 95%;
    height: 40%;
    margin-bottom: 40px;
  }
  .left-final {
    height: 60vh;
  }
  .right-final {
    height: 60vh;
  }
  .right-final .con-text p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 930px) {
  #about-content .content-text h1 {
    font-size: 18px;
  }
  #about-content .content-text h4 {
    font-size: 14px;
  }
  .right-final .con-text p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 810px) {
  .left-final {
    height: 55vh;
  }
  .right-final {
    height: 55vh;
  }
  .final .contact a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .m-v .container {
    display: block;
  }
  .m-v .mission {
    width: 100%;
    margin-bottom: 30px;
  }
  .m-v .mission img {
    height: 60%;
  }
  .final {
    display: block;
  }
  .left-final {
    width: 100%;
  }
  .right-final {
    width: 100%;
  }
  .right-final .con-text p {
    font-size: 20px;
  }
  .right-final .contact a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 512px) {
  .right-final .con-text p {
    font-size: 18px;
    text-align: justify;
  }
  .background-topS {
    height: 40vh;
  }
  .m-v .mission img {
    height: 30vh;
  }
  .left-final {
    height: 30vh;
  }
  .right-final .contact {
    bottom: 32px;
  }
  .subMenu p {
    text-align: center;
  }
}


