* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box{
  height: 150px;
  width: 150px;
  background-color: red;
  left: 0;
  top: 0;
  transition: all .4s linear;
}
.wrapper{
  height: 500px;
  width: 100%;
  border: 10px solid red;
  overflow: hidden;
}
.buttons{
  margin-top: 250px;
}