*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 30%;
    margin: auto;
    display: flex;
    padding: 30px;
    border: 3px solid red;
    /* margin-top: 240px; */
    /* margin-bottom: 240px; */
}

.left{
    margin-right: 240px;
}

.wrapper2{
    padding: 30px;
    border: 3px solid blue;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.wrapper3{
    width: 30%;
    margin: auto;
    height: 250px;
    background-color: #6381a1;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.wrapper4{
    background-color: #AB9969;
}

.wrapper4 h1{
    color:white;
    margin-left: 30px;
}

.wrapper4 button{
    background-color:red;
    color:whitesmoke;
    padding: 30px 30px;
    margin-left: 30px;
    transform: translateY(50%);
}

.wrapper5{
    background-color: yellow;
    margin-top: 130px;
    position: relative;
    padding-bottom: 60px;
    padding-left: 30px;
}

.wrapper5 button{
    color:whitesmoke;
    background-color:red;
    padding: 30px 30px;
    position: absolute;
    bottom: -40px;
    left: 30px;
}

.wrapper6{
    margin-top: 50px;
    margin-left: 30px;
}

